@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Playfair+Display&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');

/* .header-slider {
    width: 1294px;
    height: 550px;
    background: #DCE5E2;
    border-radius: 32px;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
}

.main-description-header {
    width: 647px;
    height: 550px;
}

.description-header {
    position: relative;
    left: 56px;
    top: 140px;
}

.description-header h3{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 0;
}

.description-header p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.description-header button {
    width: 170px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    background: #DCE5E2;
    border-radius: 32px;
    cursor: pointer;
}

.slider-img {
    position: absolute;
    right: 0;
    top: 0;
} */

/*===========
Style sliders block
=============*/

.rev-slider {
	width: 1294px;
	height: 550px;
	background: #DCE5E2;
	border-radius: 32px;
	margin: 0 auto;
    margin-top: 30px;
}

/*=================
Sliders description
===================*/

.rev-slider .slider h2 {
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 58px;
	line-height: 70px;
	color: #000000;
	width: 588px;
}

.rev-slider .slider p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	width: 565px;
}

.rev-slider .slider button {
    width: 170px;
    height: 50px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    background: #DCE5E2;
    border-radius: 32px;
    cursor: pointer;
}

/*========
Sliders img
==========*/

.rev-slider .slider .photo{
	width: 647px;
	height: 550px;
}

.rev-slider .slider .photo img {
	position: relative;
	left: 100%;
	top: 0;
}


/*===========================
Settings tags:(p, h2, button)
=============================*/

.slider-text-one {
	width: 647px;
	height: 550px;
	position: absolute;
	top: 20%;
	left: 1350px;
}

.slider-text-two {
	width: 647px;
	height: 550px;
	position: absolute;
	top: 20%;
	left: 29.2%;
}

.slider-text-three {
	width: 647px;
	height: 550px;
	position: absolute;
	top: 20%;
	left: 43.45%;
}

/*====================
Settings arrow(jQuery)
======================*/

.slick-next.slick-arrow:before, .slick-prev.slick-arrow:before {
	color: dimgray;
    content: url("img/slider/left.svg");
}

.slick-prev.slick-arrow:before {
    content: "\2039";
    font-size: 50px;
}
.slick-next.slick-arrow:before {
    content: "\203A";
    font-size: 50px;
}

